/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:14px;font-weight:500;color:#252842;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%; font-family: Montserrat;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
.ibg {
	position: relative;
}
.ibg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;

}
@media (max-width: 479px){
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px){
	.header__menu {	margin: 0px 0px 0px 80px;}
}
@media (max-width: 767px){
	.header__menu {	margin: 0px 0px 0px 40px;}
}
@media (max-width: 479px){
	.header__menu {	margin: 0px 0px 0px 20px;}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item{

}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	columns: #737373;
	font-weight: 600;
	line-height: 171%;
}
@media (max-width: 479px){
	.menu__link {
		font-size: 18px;
}
}
/*--------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {

}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}
/*--------------------*/
.footer {

}

/*--------------------*/

.main-block {
	position: relative;
}
.main-block__container {}
._container {}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
.main-block__body > *:not(:last-child){
	margin: 0px 0px 35px 0px;
}
@media (max-width: 992px){
	.main-block__body{
		padding: 120px 0px 191px 0px;
	}
}
@media (max-width: 479px){
	.main-block__body{
		padding: 115px 0px 160px 0px;
	}
}
.main-block__ {}
.main-block__title {
	font-size: 58px;
	line-height: 171%;
	font-weight: 800;
	letter-spacing: 0.2px;
}
@media (max-width: 479px){
	.main-block__title {
		font-size: 42px;
}
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;

}
@media (max-width: 479px){
	.main-block__text {
		color: #585858;
	}
}
.main-block__buttons {
	display: inline-flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	justify-self: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;
	padding: 5px 36px;
	margin: 10px 0;
}
@media (max-width: 479px){
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px){
	.main-block__button {
		max-resolution: 10px;
	}
}
.main-block__button:not(:last-child){
	margin-right: 10px;
}
.main-block__button_orange {
	background: #ff7b47;
	color: #fff;
}
.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

}
@media (max-width: 1300px){
	.main-block__image img {
		object-position: center;
	}
}
@media (max-width: 992px) {
	.main-block__image img {
		opacity: 0.5;
	}
}

/*--------------------------------------------*/

.services {
}
.services__container {

}
.services__body {
	
	}
@media (min-width: 670px) {
	.services__body {	
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	}
}
.services__columm {
	flex: 0 1 33.333%;
	margin: 0px 0px 30px 0px;

}

@media (min-width: 670px) {
	.services__columm {
	padding: 0px 15px;
	}
}



@media (max-width: 992px) {
	.services__columm {
		flex: 0 1 50%;
	}
	.services__columm:not(:last-child){
	margin: 0px 0px 30px 0px;
}
	.services__columm:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
	height: 100%;
}
@media (max-width: 479px) {
	.services__item{
		padding: 25px;
	}
}
.item-services {
}
.item-services_green {
 background-color: #0d5c63;
}
.item-services_green .item-service__title{
	color: #fff;
}
.item-services_green .item-service__text {
	color: #fff;
}
.item-services > *:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.item-services > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-services__icon {
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
}
